.signup-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.signup-details-card{
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    padding: 30px;
    background-color: skyblue;
}

.signup-form-title{
    color:#000;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Roboto";
    text-align: center;
}

.signup-form-container{
    background-color: #fff;
    padding: 25px;
    border-radius: 6px;
}

.signup-form-card{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.signup-form-lable{
    margin-bottom: 11px;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Roboto";
}

.signup-form-card input{
    padding: 8px;
    font-size: 0.9rem;
    font-family: "Roboto";
    outline-color: skyblue;
}

.sign-up-form-btn-card{
    text-align: center;
    margin: 25px 0px 0px;
}

.signup-btn{
    background-color: skyblue;
    color:#323f4b;
    width: 120px;
    padding: 11px 0px;
    border-radius: 20px;
    border-width: 0px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto";
}


.link-of-page{
    font-size: 1rem;
    text-decoration: none;
}

.msg{
    color:#000;
}